body {
    font-family: Arial, sans-serif;
    background-color: #622323;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stopwatch-container {
    background-color: rgb(220, 209, 209);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
}

.time-display h1 {
    position: relative;
    width: 60%;
    background: #fff;
    left: 8%;
    right: 8%;
    padding: 60px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(11, 5, 5, 1.5);
    font-size: 240%;
    margin: 0;
}

.controls button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #464946;
    color: white;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #a91f1f;
}

